{% extends 'cards/base.html' %}
{% load duration i18n %}

{% block header %}
    <a href="{% url "core:bath-list" %}">
        {% trans "Last Bath" %}
    </a>
    <div class="card-actions">
        <a href="{% url "core:bath-add" %}">
            <i class="icon-add"></i>
        </a>
    </div>
{% endblock %}


{% block title %}
    {% if bath %}
        {% blocktrans trimmed with since=bath.date|dayssince date=bath.date %}
            <div>{{ since }}</div>
            <small>{{ date }}</small>
        {% endblocktrans %}
    {% else %}
        {% trans "Never" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if bath %}
        {{ bath.date }}
    {% endif %}
{% endblock %}
