{% extends 'cards/base.html' %}
{% load duration i18n %}

{% block header %}
    <a href="{% url "core:feeding-list" %}">
        {% trans "Last Feeding" %}
    </a>
    <div class="card-actions">
        <a href="{% url "core:feeding-add" %}">
            <i class="icon-add"></i>
        </a>
    </div>
{% endblock %}

{% block title %}
    {% if feeding %}
    <a href="{% url "core:feeding-update" pk=feeding.id %}">
        {% blocktrans trimmed with since=feeding.start|deltasince|duration_string:'m' time=feeding.start|time amount=feeding.amount %}
            <div>{{ since }} ago</div>
            <small>
		{{ time }}
		({{ amount  }})
	    </small>
        {% endblocktrans %}
    </a>
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if feeding %}
        {{ feeding.get_type_display }}, {{ feeding.get_method_display }}
    {% endif %}
{% endblock %}
